.page-body {
  min-height: 100vh;
  padding-bottom: 50px;
  background-color: var(--content-bg);
  padding-top: calc(var(--header-height) + 10px);
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;

  .ui-layout {
    box-sizing: border-box;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI,
      Roboto, Helvetica Neue, sans-serif;
    padding: 10px;
  }
}
.btn:hover {
  box-shadow: 0 0 20px 0 rgba(55, 42, 70, 0.5);
  transition: all 0.3s;
}
.nav-tabs {
  background-color: #f7fafc !important;
}
.nav-link {
  @apply font-bold;
  color: #8491a4 !important;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #e7eaef !important;
}
// .active {
//   @apply rounded-md rounded-b-none;
//   border-bottom: 0 !important;
//   background: white !important;
// }
