# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

typings
dist
openapitools.json
src/api/.*
src/api/docs
src/api/test
src/api/mocha.opts
src/api/package.json 
src/api/README.md
src/api/git_push.sh
.DS_Store

package-lock.json
pnpm-lock.yaml