#admin-header {
  background-color: var(--menu-bg);
  height: var(--header-height);
  padding: 5px 10px;
  position: fixed;
  width: 230px;
  z-index: 999;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);

  img {
    max-width: 100%;
    max-height: 100%;
  }

  #home-logo {
    padding-top: 5px;
    color: #4cb6ff;
  }
}
